@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.active {
  opacity: 1;
  transform: scale(1.2);
  transition: opacity 0.3s, transform 0.3s;
}

/* Optional: Define initial styles for the text elements */
.p-animate {
  opacity: 0.5;
  transform: scale(1);
  transition: opacity 0.3s, transform 0.3s;
}

/* custom.css */
/* .arrow {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 12px solid #6D4EFF;
  color: #6D4EFF; 
} */
.arrow {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: inherit; /* To inherit the color from the parent div */
  transform: rotate(45deg);
  border-radius: 0 0 8px 0; /* Adjust this for the rounded edge */
  position: absolute;
}

